{% extends 'page.njk' %}

{% block body %}
<h1>Projects</h1>
<h2 class="header-compressed posts__title"><a href="good-interface-bad-interface">Good Interface, Bad Interface</a></h2>
<p>Snapshots and lessons from everyday UX.</p>

<h2 class="header-compressed posts__title"><a href="html-recipes">HTML Recipes</a></h2>
<p>Semantic markup for common UI patterns.</p>
{% endblock %}