{% extends 'page.njk' %}

{% block body %}
<h1>Projects</h1>
<a href="good-interface-bad-interface"><h2 class="header-compressed posts__title">Good Interface, Bad Interface</h2></a>
<p>Snapshots and lessons from everyday UX.</p>

<a href="html-recipes"><h2 class="header-compressed posts__title">HTML Recipes</h2></a>
<p>Semantic markup for common UI patterns.</p>
{% endblock %}