---
metaTitle: Tony Alicea | Udemy and Pluralsight Instructor | JavaScript, HTML, CSS, NodeJS, UX
pagination:
  data: collections.front-page
  size: 50
  alias: posts
  reverse: true
permalink: "/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

{% extends 'page.njk' %}

{% block head %}
<style>
  .tony-card__title {
    margin-block-end: .375rem;
  }

  .tony-card__caption1, .tony-card__caption2, .tony-card__caption3 {
    margin-block: 0;
    font-family: 'Raleway', sans-serif;
  }

  .tony-card__caption2 {
    margin-block-end: 0.375rem;
  }

  .tony-card__caption3 {
    margin-block-end: .75rem;
  }

  .course-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .course-list figure {
    margin-inline: 0;
  }

  .course-list a, .course-list a:hover, .course-list a:visited {
    color: var(--color-text);
    text-decoration: none;
  }

  .course-list h2 {
    font-weight: 400;
    margin-block-start: 2rem;
    margin-block-end: 0;
  }

  .course-list__title {
    margin-block-end: 0;
  }

  .course-list__desc {
    font-size: 0.9rem;
  }


  @media screen and (min-width: 768px) {
    .course-list {
      grid-template-columns: 1fr 1fr;
    }

    .course-list h2 {
      grid-area: 1 / 1 / 1 / 3;
    }
  }
</style>
{% endblock %}

{% block body %}
<header>
  <h1 class="tony-card__title">Tony Alicea</h1>
  <p class="tony-card__caption1">Udemy and Pluralsight Instructor. 300,000 students and counting.</p>
  <p class="tony-card__caption2">JavaScript, HTML, CSS, UX, and more.</p>
  <p class="tony-card__caption3">
    <a href="https://twitter.com/anthonypalicea"><svg class="social_logo" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Twitter</title><path d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"/></svg></a>&nbsp;&nbsp;&nbsp;
    <a href="https://youtube.com/tonyalicea"><svg class="social_logo" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>YouTube</title><path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/></svg></a>&nbsp;&nbsp;&nbsp;
    <a href="{{ site.baseUrl }}feed/feed.xml"><svg class="social_logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M25.57 176.1C12.41 175.4 .9117 185.2 .0523 198.4s9.173 24.65 22.39 25.5c120.1 7.875 225.7 112.7 233.6 233.6C256.9 470.3 267.4 480 279.1 480c.5313 0 1.062-.0313 1.594-.0625c13.22-.8438 23.25-12.28 22.39-25.5C294.6 310.3 169.7 185.4 25.57 176.1zM32 32C14.33 32 0 46.31 0 64s14.33 32 32 32c194.1 0 352 157.9 352 352c0 17.69 14.33 32 32 32s32-14.31 32-32C448 218.6 261.4 32 32 32zM63.1 351.9C28.63 351.9 0 380.6 0 416s28.63 64 63.1 64s64.08-28.62 64.08-64S99.37 351.9 63.1 351.9z"/></svg></a>
  </p>
</header>
  {% include "posts.njk" %}
  <a class="margin-block-start-large" href="/blog">More...</a>
  <section class="course-list">
    <h2>Courses</h2>
    <a href="http://understandingreact.com">
      <figure>
        <img src="assets/course_react.jpg" />
        <figcaption>
          <p class="course-list__title">Understanding React</p>
          <p class="course-list__desc">COMING SOON! PRE-ORDER NOW!</p>
        </figcaption>
      </figure>
    </a>
    <a href="https://www.udemy.com/course/javascript-understanding-es6-and-beyond/?referralCode=4C76A312761FF4720DC8">
      <figure>
        <img src="assets/course_es6.jpg" />
        <figcaption>
          <p class="course-list__title">JavaScript: Understanding ES6 and Beyond</p>
          <p class="course-list__desc">NEW!</p>
        </figcaption>
      </figure>
    </a>
    <a href="https://www.udemy.com/course/understand-javascript/?referralCode=7E5C6727F7959934C311">
      <figure>
        <img src="assets/course_jsweirdparts.jpg" />
        <figcaption>
          <p class="course-list__title">JavaScript: Understanding the Weird Parts</p>
          <p class="course-list__desc">174,000 Students | 12 Hours</p>
        </figcaption>
      </figure>
    </a>
    <a href="https://www.udemy.com/course/understanding-html-and-css/?referralCode=29ED997A126F1B7FF1DF">
      <figure>
        <img src="assets/course_htmlcss.jpg" />
        <figcaption>
          <p class="course-list__title">Understanding HTML and CSS</p>
          <p class="course-list__desc">4,000 Students | 14 Hours (NEW!)</p>
        </figcaption>
      </figure>
    </a>
    <a href="https://www.udemy.com/course/understand-nodejs/?referralCode=E4D3B311F7B1344C3CCB">
      <figure>
        <img src="assets/course_nodejs.jpg" />
        <figcaption>
          <p class="course-list__title">Learn and Understand NodeJS</p>
          <p class="course-list__desc">118,000 Students | 13 Hours</p>
        </figcaption>
      </figure>
    </a>
    <a href="https://www.udemy.com/course/learn-angularjs/?referralCode=24B7E651C14D3D3ED6A7">
      <figure>
        <img src="assets/course_angularjs.jpg" />
        <figcaption>
          <p class="course-list__title">Learn and Understand AngularJS</p>
          <p class="course-list__desc">92,000 Students | 7 Hours</p>
        </figcaption>
      </figure>
    </a>
  </section>
{% endblock %}