{% extends 'page.njk' %}

{% block body %}
<article class="post">
  <nav class="breadcrumbs">
    <a href="/">Home</a>
    <span class="breadcrumbs__sep">/</span>
    <a href="/newsletter">Newsletter</a>
  </nav>
  {{ content | safe }}
</article>
{% endblock %}
