---
permalink: "{% if path %}{{ path | slug }}{% else %}{{'/blog/'}}{{ title | slug }}{% endif %}/index.html"
---

{% extends 'page.njk' %}

{% block body %}
<article class="post">{{ content | safe }}</article>
{% endblock %}