{% extends 'page.njk' %}

{% block body %}
<article class="post recipe">
  <nav class="breadcrumbs">
    <a href="/">Home</a>
    <span class="breadcrumbs__sep">/</span>
    <a href="{{ site.baseUrl }}projects/html-recipes">Recipes</a>
  </nav>
  {{ content | safe }}
</article>
<div style="max-width: 720px; margin: 0 auto; padding: 0 2rem 3rem;">
  <p>Deeply understand semantic HTML authoring and CSS with my course:<br /><b><a href="https://dontimitate.dev/courses/html-css/">Understanding HTML and CSS</a></b>.</p>
</div>
{% endblock %}
