{% extends 'page.njk' %}

{% block body %}
<h1>Contact Me</h1>
<article class="post">
<p>Feel free to contact me regarding <b>bulk course purchases</b>, <b>podcast interviews</b>, and <b>conference or meetup speaking</b>.</p>
<p>I've been a guest on podcasts like <a href="https://topenddevs.com/podcasts/javascript-jabber/episodes/from-learning-new-languages-to-learning-new-technologies-jsj-629#player1?catid=0&trackid=0">JavaScript Jabber</a> and a speaker at conferences like <a href="https://portal.gitnation.org/contents/authoring-html-in-a-javascript-world">React Summit</a>.</p>
<p>For the above drop an email to: <a href="mailto:hey@tonyalicea.dev">hey@tonyalicea.dev</a></p>
<h2>Want personalized help for your dev team?</h2><a href="https://thesmythgroup.com/services/advisory/">Check out dev and dev team services</a> offered via The Smyth Group (I'm their Director of Education). Things like <b>one-on-one mentoring</b>, help <b>hiring the right devs</b>, <b>team workshops</b>, <b>UX/Dev/Security analysis</b>, 90-minute sessions to help you get unstuck from a problem and more.</p>
<p>Otherwise, you can follow or DM me on <a href="https://x.com/anthonypalicea">Twitter/X</a> and <a href="https://www.youtube.com/tonyalicea">YouTube</a>.</p>
<p><br />Happy Coding!<br /><br />- Tony</p>
</article>
{% endblock %}