---
pagination:
  data: collections.gibi
  size: 12
  alias: gibis
  reverse: true
permalink: "/projects/good-interface-bad-interface/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---
{% extends 'page.njk' %}

{% block body %}
<h1>Good Interface, Bad Interface</h1>
<p>UX lessons learned from everyday products and experiences. These posts are also included in my blog.</p>
{% for gibi in gibis %}
<article class="post post-separator">
    {{ gibi.templateContent | safe }}
</article>
{% endfor %}
{% include "nav.njk" %}
{% endblock %}