---
pagination:
  data: collections.post
  size: 40
  alias: posts
  reverse: true
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

{% extends 'page.njk' %}

{% block body %}
<div class="page-content">
  <h1 class="section-heading" style="font-size: 2.4rem; letter-spacing: -0.02em;">Blog</h1>
  {% include "posts.njk" %}
</div>
{% endblock %}
