---
pagination:
  data: collections.post
  size: 40
  alias: posts
  reverse: true
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

{% extends 'page.njk' %}

{% block body %}
<h1>Don't Imitate, Understand</h1>
{% include "posts.njk" %}
{% endblock %}