{% for post in posts %}
  {% if not post.data.draft %}
  {%- if not post.data.isGiBi -%}
  <article class="post-item">
    <time class="post-item__date" datetime="{{ post.data.date }}">{{ post.data.date | dateDisplay }}</time>
    <h2 class="post-item__title">
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h2>
    {% if post.data.excerpt %}
    <p class="post-item__excerpt">{{ post.data.excerpt }}</p>
    {% endif %}
    {% for tag in post.data.tags %}
      {%- if tag !== "post" -%}
      {%- if tag !== "gibi" -%}
      {%- if tag !== "front-page" -%}
      {%- if tag !== "recipe" -%}
      <a class="post-item__tag" href="{{ site.baseUrl }}tag/{{ tag }}">{{ tag }}</a>
      {%- endif -%}
      {%- endif -%}
      {%- endif -%}
      {%- endif -%}
    {% endfor %}
  </article>
  {%- endif -%}
  {% endif %}
{% endfor %}
