{% for post in posts %}
        {% if not post.data.draft %}
            <h2 class="posts__title">
                <a href="{{ post.url | url }}">
                    {%- if post.data.isGiBi -%}
                        Good Interface, Bad Interface #{{ post.data.entry }}
                    {%- else -%}
                        {{ post.data.title }}
                    {%- endif -%}
                </a>
            </h2>

            <p class="posts__date" datetime="{{ post.data.date }}">
                Posted on {{ post.data.date | dateDisplay }}
            </p>

            <p class="posts__excerpt">{{ post.data.excerpt }}</p>

            {% for tag in post.data.tags %}
                {%- if tag !== "post" -%}
                {%- if tag !== "gibi" -%}
                {%- if tag !== "front-page" -%}
                    <a class="tag {{ tag | replace('.', '') }}" href="{{ site.baseUrl }}tag/{{ tag }}">{{ tag }}</a>
                {%- endif -%}
                {%- endif -%}
                {%- endif -%}
            {% endfor %}
        {% endif %}
    {% endfor %}