{% extends 'page.njk' %}

{% block body %}
<h1>Work With Me</h1>
<article class="post">
<p>You can contact me regarding bulk course purchases, podcast interviews, and conference or meetup speaking at <a href="mailto:hey@tonyalicea.dev">hey@tonyalicea.dev</a>.</p>
<h2>Accomplishments</h2>
<p>I've been a software developer, database architect, user experience designer, usability test facilitator, manager, and requirements gatherer for over 25 years. I've spent over a decade teaching people web fundamentals online.</p>
<p>I'm most known for <a href="/courses">my courses</a> on Udemy, with over 350,000 students enrolled. I like to put significant portions of my courses free on YouTube where I have over <a href="https://youtube.com/tonyalicea">55,000 subscribers</a>. My most popular video has over 4 million views.</p>
<p>On this site you can find my blog, which gets around 6,000 visitors a month. My most popular blog post hit the <a href="https://news.ycombinator.com/item?id=40819440">top of Hacker News</a>.</p>
<p>I've been a guest on podcasts like <a href="https://topenddevs.com/podcasts/javascript-jabber/episodes/from-learning-new-languages-to-learning-new-technologies-jsj-629#player1?catid=0&trackid=0">JavaScript Jabber</a> and a speaker at conferences like <a href="https://portal.gitnation.org/contents/authoring-html-in-a-javascript-world">React Summit</a>.</p></p>
<h2>Speaking Engagements</h2>
<p>I am available for remote or in-person speaking engagements for your company, organization, group, or event. For more information check out my <a href="/speaking">Speaking Engagements</a> page.</p>
<h2>Advisory Services and Custom Development</h2>I can help you with <a href="https://thesmythgroup.com/">custom development</a> and <a href="https://thesmythgroup.com/services/advisory/">dev team advisory services</a> via The Smyth Group (I'm their Director of Education). Including one-on-one mentoring, help hiring the right devs, team workshops, UX/Dev/Security analysis, 90-minute sessions to help you get unstuck from a problem and more.</p>
<p><br />You can follow or DM me on <a href="https://x.com/anthonypalicea">Twitter/X</a>, <a href="https://bsky.app/profile/tonyalicea.dev">Bluesky</a>, and <a href="https://www.youtube.com/tonyalicea">YouTube</a>.</p>
<p><br />Happy Coding!<br /><br />- Tony</p>
</article>
{% endblock %}