{% set title = "Courses" %}
{% set og_image = "assets/course-sale.png" %}
{% extends 'page.njk' %}
{% block body %}
<article class="post">
<h1>🎉November Course Sale</h1>
<p><small>My courses are on sale for all of November 2024, including Black Friday and Cyber Monday!</small></p>
<p>Over 350,000 students have enrolled in my courses on <a href="https://www.udemy.com/user/anthonypalicea/">Udemy</a>, Pluralsight, and <a href="https://dontimitateunderstand.com/courses/">Teachable</a>. The core concept of my courses is "Don't Imitate, Understand."</p>
<p>Most courses focus on the student copying what the teacher is doing. This means students fail in the real world when faced with new situations or errors. My courses focus on <strong>deep understanding</strong> that stands the test of time, makes you a better debugger, and allows you to face new challenges confidently.</p>

<h2>The Courses</h2>
<p>With all my courses you get <strong>lifetime access</strong>, <strong>all source code</strong>, and <strong>a certificate of completion</strong>.</p>
</article>
{% include "courses.njk" %}
{% endblock %}