{% extends 'page.njk' %}

{% block body %}
<h1>Courses</h1>
<p>Over 300,000 students have purchased my courses on Udemy and Pluralsight. The core concept of my courses is "Don't Imitate, Understand."</p>
<p>Most courses out there focus on the student copying what the teacher is doing. This means students fail in the real world when faced with new situations. My courses focus on <strong>deep understanding</strong> that stands the test of time, makes you a better debugger, and allows you to face new challenges confidently.</p>
<section class="course-listing">
    <a class="course-listing__link" href="http://understandingreact.com">
        <img class="course-listing__image" src="/assets/course_react.jpg" />
        <h2 class="margin-block-0 posts__title">Understanding React</h2>
    </a>
    <p>COMING SOON! PRE-ORDER NOW!</p>
    <a class="margin-block-start-xlarge course-listing__link" href="https://www.udemy.com/course/javascript-understanding-es6-and-beyond/?referralCode=4C76A312761FF4720DC8">
        <img src="/assets/course_es6.jpg" />
        <h2 class="margin-block-0 posts__title">JavaScript: Understanding ES6 and Beyond</h2>
    </a>
    <p>NEW!</p>
    <a class="margin-block-start-xlarge course-listing__link" href="https://www.udemy.com/course/understand-javascript/?referralCode=7E5C6727F7959934C311">
        <img src="/assets/course_jsweirdparts.jpg" />
        <h2 class="margin-block-0 posts__title">JavaScript: Understanding the Weird Parts</h2>
    </a>
    <p>174,000 Students | 12 Hours</p>
    <a class="margin-block-start-xlarge course-listing__link" href="https://www.udemy.com/course/understanding-html-and-css/?referralCode=29ED997A126F1B7FF1DF">
        <img src="/assets/course_htmlcss.jpg" />
        <h2 class="margin-block-0 posts__title">Understanding HTML and CSS</h2>
    </a>
    <p>4,000 Students | 14 Hours (NEW!)</p>
    <a class="margin-block-start-xlarge course-listing__link" href="https://www.udemy.com/course/understand-nodejs/?referralCode=E4D3B311F7B1344C3CCB">
        <img src="/assets/course_nodejs.jpg" />
        <h2 class="margin-block-0 posts__title">Learn and Understand NodeJS</h2>
    </a>
    <p>118,000 Students | 13 Hours</p>
    <a class="margin-block-start-xlarge course-listing__link" href="https://www.udemy.com/course/learn-angularjs/?referralCode=24B7E651C14D3D3ED6A7">
        <img src="/assets/course_angularjs.jpg" />
        <h2 class="margin-block-0 posts__title">Learn and Understand AngularJS</h2>
    </a>
    <p>92,000 Students | 7 Hours</p>
</section>
{% endblock %}